* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/***ESTRUCTURA PRINCIPAL***/

header {
  background-color: rgba(37, 104, 248, 0.815);
}

main {
  background-color: rgba(236, 138, 245, 0.555);
  min-height: 1100px;
}

footer {
  background-color: rgba(18, 143, 245, 0.473);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  display: flex;
}

/*logo inicio*/

.banner {
  font-family: "Exo 2", sans-serif;
  width: max-content;
  font-size: 45px;
  background-color: rgba(146, 54, 233, 0.918);
  border-radius: 30px 0px 30px 0px;
  grid-area: banner;
  margin: 1%;
}

h1 {
  color: white;
  text-align: center;
  width: 470px;
}

.banner h1 a {
  text-decoration: none;
  color: white;
}

/*categorias productos*/

.menuProductos {
  text-align: center;
  display: flex;
  justify-content: initial;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 5px;
}

.menuProductos li a {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: rgb(42, 6, 126);
  line-height: 1.4;
}

/*barra de navegacion*/

.navBar {
  width: 100%;
  display: flex;
  justify-content: end;
  grid-area: navBar;
  /*flex-wrap: wrap;*/
}

.navBar li {
  list-style: none;
}

.navBar li a {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: rgba(23, 7, 61, 0.945);
  line-height: 1.4;
  justify-content: flex-start;
  display: flex;
  margin-left: 15px;
}

/*botones*/

.boton {
  background-color: rgb(80, 182, 241);
  border-radius: 30px 0px 30px 0px;
  padding: 1px;
  margin-right: 5px;
  width: 150px;
  margin-top: 5px;
}

.prod {
  background-color: rgba(236, 45, 236, 0.692);
}

/*contenido y textos del main*/

.productos {
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

.subtitulos {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.caracteristicas {
  font-family: "Roboto Mono", monospace;
  padding-left: 15px;
}

.especificaciones {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  padding-top: 5px;
  list-style: none;
  padding-bottom: 10px;
}

/*novedades*/

.videos {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 10px;
}

.noticias {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.subtitulos h4 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

.subtitulos h2 {
  padding-bottom: 2px;
}

.noticias p {
  font-style: italic;
  padding-top: 3px;
  margin-right: 3px;
}

/*formularios y contacto*/

legend {
  font-family: "Roboto Mono", monospace;
  font-style: oblique;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

.consultas label {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.casilleros {
  width: 400px;
}

.tC {
  position: relative;
  align-self: flex-start;
  margin-left: 15px;
  margin-bottom: 10px;
}

.enviarFormulario {
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  padding: 3px;
  background-color: rgba(28, 96, 241, 0.61);
}

.contactInfo {
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.contactData {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-style: oblique;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 2;
  list-style: none;
}

.mapa {
  margin-left: 15px;
  padding-bottom: 10px;
}

/******GRIDS******/

/*header index (este header posee banner y navbar)*/

.grid-container-1 {
  display: grid;
  grid-template-columns: repeat(2, 70% 30%);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "banner navBar";
  align-items: center;
}

/*header pages (este header tiene ademas del banner y la navbar un menu de productos)*/

.grid-container-1-bis{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "banner banner"
  "nav-2 nav-1";
  align-items: center;
}

.nav-1{
  grid-area: nav-1;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-2{
  width: 82%;
  grid-area: nav-2;
}

/*main (cards)*/

.grid-container-2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px, repeat(2, 1fr);
  grid-row-gap: 50px;
  grid-template-areas:
    "box-0 box-0"
    "box-1 box-2"
    "box-3 box-4";
}
.box-0 {
  width: 100%;
  grid-area: box-0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-1 {
  width: 100%;
  grid-area: box-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-2 {
  width: 100%;
  grid-area: box-2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-3 {
  width: 100%;
  grid-area: box-3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box-4 {
  width: 100%;
  grid-area: box-4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*footer*/

.grid-container-3 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

.social-media {
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
}
.facebook {
  grid-column: 1/2;
  grid-row: 2/2;
}
.instagram {
  grid-column: 2/3;
  grid-row: 2/2;
}
.twitter {
  grid-column: 3/4;
  grid-row: 2/2;
}




/***RESPONSIVE WEB DESIGN***/


/***TABLET***/
@media (max-width: 768px){
  main{
    background-color:rgba(177, 116, 233, 0.671);
  }
  .boton{
    background-color: #EC2DECB0;
  }
  
  .grid-container-1{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "banner navBar";
  }

  .grid-container-1-bis{
    background-color: aquamarine;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "banner nav-1"
    "nav-2 nav-2";
    justify-content: center;
    align-items: center;
  }

  .grid-container-2 {
    width: 100%;
    grid-row-gap: 0px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "box-0 box-0"
      "box-3 box-1" 
      "box-4 box-2"
      ;
  }
  .box-0{
    width: 100%;
    font-size:30px;
    text-decoration: underline;
    background-color:rgba(177, 116, 233, 0.671);
    
  }
  .box-1{
    background-color: rgba(248, 245, 48, 0.788);
  }
  .box-2{
    background-color: palegreen;
  }
  .box-3{
    background-color: rgb(248, 90, 137);
  }
  .box-4{
    background-color: rgba(103, 43, 243, 0.651);
  }
  .box-img{
    width: 200px;
    height: auto;
}
.banner {
  display: flex;
  justify-content: center;
  font-family: "Exo 2", sans-serif;
  width: 250px;
  font-size: 20px;
  background-color: rgba(146, 54, 233, 0.918);
  border-radius: 30px 0px 30px 0px;
  grid-area: banner;
  margin: 1%;
}
h1 {
  color: white;
  text-align: center;
  width: 200px;
}
.nav-2{
  width: 82%;
  grid-area: nav-2;
}
}
/***MOBILE***/
@media (max-width: 576px){
  .grid-container-1{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "banner" 
    "navBar";
  }

  .grid-container-1-bis{
    background-color: aquamarine;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "banner nav-2" 
    "nav-1"; 
    justify-content: center;
    align-items: center;
  }

  .grid-container-2 {
    width: 100%;
    grid-row-gap: 0px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "box-0" 
      "box-1" 
      "box-2" 
      "box-3" 
      "box-4"
      ;
  }
  .box-0{
    width: 100%;
    grid-area: box-0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    background-color:rgba(177, 116, 233, 0.671);
    
  }
  .box-1{
    background-color: lightcoral
  }
  .box-2{
    background-color: lightsalmon;
  }
  .box-3{
    background-color: lightgreen;
  }
  .box-4{
    background-color: lightslategrey;
  }
  .box-img{
    width: 175px;
    height: auto;
  }
  .banner {
    font-family: "Exo 2", sans-serif;
    width: max-content;
    font-size: 15px;
    background-color: rgba(146, 54, 233, 0.918);
    border-radius: 30px 0px 30px 0px;
    grid-area: banner;
    margin: 1%;
  }
  h1 {
    color: white;
    text-align: center;
    width: 200px;
  }
  .menuProductos li a {
    font-family: "Exo 2", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgb(42, 6, 126);
    line-height: 1.4;
  }
  .navBar li a {
    font-family: "Exo 2", sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: rgba(23, 7, 61, 0.945);
    line-height: 1.4;
    justify-content: flex-start;
    display: flex;
  }
  .nav-1 {
  width: 70%;
  display: flex;
  justify-content: end;
  }
  .nav-2 {
    width: 80%;
    grid-area: nav-2;
  }

  .navBar {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-area: navBar;
  }
}

