/***ESTO ES ASI???***/
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Roboto+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
header {
  background-color: rgba(37, 104, 248, 0.815); }
  header .banner {
    font-family: "Exo 2", sans-serif;
    width: max-content;
    font-size: 45px;
    background-color: rgba(146, 54, 233, 0.918);
    border-radius: 30px 0px 30px 0px;
    grid-area: banner;
    margin: 1%; }
  header h1 {
    color: white;
    text-align: center;
    width: 470px;
    text-decoration: none; }
  header h1 a {
    color: white;
    text-align: center;
    width: 470px;
    text-decoration: none; }
  header .navBar {
    width: 100%;
    display: flex;
    justify-content: end;
    grid-area: navBar; }
    header .navBar li {
      list-style: none; }
      header .navBar li a {
        font-family: "Exo 2", sans-serif;
        font-size: 25px;
        text-decoration: none;
        color: rgba(23, 7, 61, 0.945);
        line-height: 1.4;
        justify-content: flex-start;
        display: flex;
        margin-left: 15px; }
    header .navBar li:hover {
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both; }

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
  header .menuProductos {
    text-align: center;
    display: flex;
    justify-content: initial;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 5px; }
    header .menuProductos li a {
      font-family: "Exo 2", sans-serif;
      font-size: 25px;
      text-decoration: none;
      color: #2a067e;
      line-height: 1.4; }
    header .menuProductos li:hover {
      -webkit-animation: jello-vertical 0.9s both;
      animation: jello-vertical 0.9s both; }

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
  header .grid-container-1 {
    display: grid;
    width: none;
    grid-template-columns: 2 70% 30%;
    grid-template-rows: 1 1fr;
    grid-row-gap: none;
    grid-template-areas: "banner navBar";
    align-items: center;
    justify-items: none;
    justify-content: none; }

.boton {
  background-color: #50b6f1;
  border-radius: 30px 0px 30px 0px;
  padding: 1px;
  margin-right: 5px;
  width: 150px;
  margin-top: 5px; }

.prod {
  background-color: rgba(236, 45, 236, 0.692); }
