main {
    background-color: rgba(236, 138, 245, 0.555);
    height: auto;
}

.grid-container-2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px, repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-template-areas:
        "box-0 box-0"
        "box-1 box-2"
        "box-3 box-4";

    .box-0 {
        width: 100%;
        grid-area: box-0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .box-1 {
        width: 100%;
        grid-area: box-1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-2 {
        width: 100%;
        grid-area: box-2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-3 {
        width: 100%;
        grid-area: box-3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-4 {
        width: 100%;
        grid-area: box-4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-img:hover {
        -webkit-animation: wobble-hor-bottom 0.8s both;
        animation: wobble-hor-bottom 0.8s both;
    }

    @-webkit-keyframes wobble-hor-bottom {

        0%,
        100% {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        15% {
            -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
        }

        30% {
            -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
        }

        45% {
            -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
            -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
        }

        75% {
            -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
        }
    }

    @keyframes wobble-hor-bottom {

        0%,
        100% {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }

        15% {
            -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
        }

        30% {
            -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
        }

        45% {
            -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
        }

        60% {
            -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
        }

        75% {
            -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
        }
    }
}

.productos {
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

.subtitulos {
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
}

.caracteristicas {
    font-family: "Roboto Mono", monospace;
    padding-left: 15px;
}

.especificaciones {
    font-family: "Roboto Mono", monospace;
    font-style: italic;
    padding-top: 5px;
    list-style: none;
    padding-bottom: 10px;
}

.videos {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 10px;
}

.noticias {
    font-family: "Exo 2", sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.subtitulos h4 {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.subtitulos h2 {
    padding-bottom: 2px;
}

.noticias p {
    font-style: italic;
    padding-top: 3px;
    margin-right: 3px;
}

legend {
    font-family: "Roboto Mono", monospace;
    font-style: oblique;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.consultas label {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.casilleros {
    width: 400px;
}

.tC {
    position: relative;
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
}

.enviarFormulario {
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    padding: 3px;
    background-color: rgba(28, 96, 241, 0.61);
}

.contactInfo {
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.contactData {
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
    line-height: 2;
    list-style: none;
}

.mapa {
    margin-left: 15px;
    padding-bottom: 10px;
    display: flex;
}
.comprar{
    background-color:rgba(240, 227, 238, 0.829);
    border-radius: 10%;
    font-size: 20px;
}