@media (max-width: 576px) {
    .grid-container-1 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "banner"
            "navBar";
    }

    .grid-container-1-bis {
        background-color: aquamarine;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "banner nav-2"
            "nav-1";
        justify-content: center;
        align-items: center;
    }

    .grid-container-2 {
        width: 100%;
        grid-row-gap: 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "box-0"
            "box-1"
            "box-2"
            "box-3"
            "box-4"
        ;
    }

    .box-0 {
        width: 100%;
        grid-area: box-0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: underline;
        background-color: rgba(177, 116, 233, 0.671);

    }

    .box-1 {
        background-color: lightcoral
    }

    .box-2 {
        background-color: lightsalmon;
    }

    .box-3 {
        background-color: lightgreen;
    }

    .box-4 {
        background-color: lightslategrey;
    }

    .box-img {
        width: 175px;
        height: auto;
    }

    .banner {
        font-family: "Exo 2", sans-serif;
        width: max-content;
        font-size: 15px;
        background-color: rgba(146, 54, 233, 0.918);
        border-radius: 30px 0px 30px 0px;
        grid-area: banner;
        margin: 1%;
    }

    h1 {
        color: white;
        text-align: center;
        width: 200px;
    }

    .menuProductos li a {
        font-family: "Exo 2", sans-serif;
        font-size: 15px;
        text-decoration: none;
        color: rgb(42, 6, 126);
        line-height: 1.4;
    }

    .navBar li a {
        font-family: "Exo 2", sans-serif;
        font-size: 15px;
        text-decoration: none;
        color: rgba(23, 7, 61, 0.945);
        line-height: 1.4;
        justify-content: flex-start;
        display: flex;
    }

    .nav-1 {
        width: 70%;
        display: flex;
        justify-content: end;
    }

    .nav-2 {
        width: 80%;
        grid-area: nav-2;
    }

    .navBar {
        width: 100%;
        display: flex;
        justify-content: end;
        grid-area: navBar;
    }
}