@media (max-width: 768px){
    main{
      background-color:rgba(177, 116, 233, 0.671);
    }
    .boton{
      background-color: #EC2DECB0;
    }
    
    .grid-container-1{
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-template-areas: 
      "banner navBar";
    }
  
    .grid-container-1-bis{
      background-color: aquamarine;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
      "banner nav-1"
      "nav-2 nav-2";
      justify-content: center;
      align-items: center;
    }
  
    .grid-container-2 {
      width: 100%;
      grid-row-gap: 0px;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "box-0 box-0"
        "box-3 box-1" 
        "box-4 box-2"
        ;
    }
    .box-0{
      width: 100%;
      font-size:30px;
      text-decoration: underline;
      background-color:rgba(177, 116, 233, 0.671);
      
    }
    .box-1{
      background-color: rgba(248, 245, 48, 0.788);
    }
    .box-2{
      background-color: palegreen;
    }
    .box-3{
      background-color: rgb(248, 90, 137);
    }
    .box-4{
      background-color: rgba(103, 43, 243, 0.651);
    }
    .box-img{
      width: 200px;
      height: auto;
  }
  .banner {
    display: flex;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
    width: 250px;
    font-size: 20px;
    background-color: rgba(146, 54, 233, 0.918);
    border-radius: 30px 0px 30px 0px;
    grid-area: banner;
    margin: 1%;
  }
  h1 {
    color: white;
    text-align: center;
    width: 200px;
  }
  .nav-2{
    width: 82%;
    grid-area: nav-2;
  }
  }